---
# Only the main Sass file needs front matter (the dashes are enough)
---

// copied from original code
$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// changing global minima variables
$text-color:       $grey-color-light;
$background-color: #323232;
//$brand-color:      #F78707;
$brand-color:      #668cff;

// my own variables for my scss
$site-title-color:      $brand-color;
$code-background-color: #000000;

@import "minima";

// Youtube video embedding to fit the width
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

// Change title color
.site-title {
  &:visited {
    color: $site-title-color;
  }
}

// Change code background
.highlighter-rouge .highlight { background: $code-background-color; }
pre, code { background-color: $code-background-color; }

